[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/succulent"]
	path = themes/succulent
	url = https://github.com/aehmcdonald/succulent.git
