[submodule "themes/succulent"]
	path = themes/succulent
	url = https://github.com/aehmcdonald/succulent.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
