@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --pink: #EEC7EB;
  --purple: #1A0B20;
  --light-purple: #e3bcf8;
  --light-pink: #FAF3FA;
}

body {
  background-color: var(--light-pink);
}

.flex_container {
  margin: 0px;
  color: var(--purple);
  font-family: 'Space Mono', Courier, monospace;
  line-height: 1.5;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--purple);
  text-decoration: none;
}

h1 {
  margin: 0px; /* INCREDIBLY IMPORTANT!!!! THIS UNFUCKS THE TOP MARGIN */
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

h3 {
  margin-top: 0;
  font-weight: 400;
}

h4 {
  font-weight: 400;
}

p {
  margin: 1em 0em;
  font-weight: 400;
}

p img { /* AFFECTS POST IMAGES */
  max-width: 100%;
  padding: 2rem 0;
}

.work-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-categories {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.work {
  max-width: clamp(50rem, 65%, 100vw);

}

.main_content {
  background-color: var(--light-pink);
  padding: 2% 5% 5% 5%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* BLOG CARDS */
.card_post {
  /* background-color: var(--light-purple); */
  display: flex;
  flex-direction: row;
  min-width: 100%;
  padding: 1rem 0rem 0rem 0rem;
  gap: 4rem;
  justify-content: left;
  align-items: center;
  border-style: dotted  hidden hidden;
}

.link_title {
  /* AFFECTS H2 LINKS ON HOMEPAGE */
  text-decoration: underline;
  font-weight: 700;
}

.card_image {
  width: 20rem;
  max-height: min-content;
  min-width: 25%;
  border-radius: 10px;
  overflow: hidden;
}

.card_image img {
  max-width: 100%;
  vertical-align: bottom;
}

.card_text {
  max-width: 50%;
}

/* @media only screen and (max-width: 1000px) {
  .work {
    max-width: 100%;
  }
  
} */

@media only screen and (max-width: 600px) {
  
  .card_post {
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0px;
  }

  .card_image {
    width: auto;
  }

  .card_text {
    min-width: 80vw;
  }

}

/* NAVBAR AND FOOTER */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--purple);
  color: var(--pink);
  padding-right: 5%;
  padding-left: 5%;
  min-height: 5em;
  justify-content: space-between;
  align-items: center;

}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.menu a {
  color: var(--pink);
}

.footer {
  margin: 0;
  padding: 2em 0% 2em 5%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: var(--purple);
  color: var(--pink);
}

.hero_main {
  margin-top: 1rem;
  width: clamp(300px, 50%, 1000px);
}
