:root {
  --pink: #EEC7EB;
  --purple: #1A0B20;
  --light-pink: #FAF3FA;

}

.flex_container {
  margin: 0px;
  color: var(--purple);
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


a {
  color: var(--purple);
  text-decoration: none;
}

h1 {
  margin: 0px; /* INCREDIBLY IMPORTANT!!!! THIS FUCK TOP MARGIN */
}

h3 {
  padding: 0px;
  margin: 0px;
}

h2 a {
  text-decoration: underline;
}

.main_content {
  background-color: var(--light-pink);
  padding: 2% 5% 5% 5%;
  flex-grow: 2;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--purple);
  color: var(--pink);
  padding-right: 5%;
  padding-left: 5%;
  min-height: 5em;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.menu a {
  color: var(--pink);
}

.footer {
  margin: 0;
  padding: 2em 0% 2em 5%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: var(--purple);
  color: var(--pink);
}
