:root {
  --pink: #EEC7EB;
  --purple: #1A0B20;
  --light-pink: #FAF3FA;

}

h1 {
  margin: 0px; /* INCREDIBLY IMPORTANT!!!! THIS FUCK TOP MARGIN */
}

body {
  margin: 0px;
  color: var(--purple);
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  max-width: 100%;
}

footer {
  border-top: 1px solid var(--purple);
  margin-top: 1rem;
}

a {
  color: var(--purple);
  text-decoration: none;
}

h2 a {
  text-decoration: underline;
}

main {
  background-color: var(--light-pink);
  padding: 5%;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--purple);
  color: var(--pink);
  padding-right: 5%;
  padding-left: 5%;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.menu a {
  color: var(--pink);
}