body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

.navbar {
    background: #000;
    color: azure;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
}